.svg {
  position: absolute;
  top: -2px;
  right: -3px;
  font-size: 30px;
  color: #90ee90;
  opacity: 0.8;
}
.imgLogo {
  width: 150px;
  height: 30px;
  margin-top: 10px;
}

img {
  border-radius: 0px;
}
